body {
    margin: 0;
    overflow: hidden;
    overscroll-behavior: none;
    /* background-color: rgba(155, 197, 212, 0.8); */
    background-color: white;
}

#langs {
    position: absolute;
    top: 3vmin;
    right: 12vmin;
}

#languageSelector {
    font-size: 3.6vmin;
}

#menuItems {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 5vmin;
    border: 1vmin solid white;
    /* border: 1vmin none; */
    border-radius: 2vmin;
    box-sizing: border-box;
    z-index: 200;
}

#container {
    margin-bottom: 4vmin;
}

#dropZone {
    width: 100%;
    padding: 48px 10px;
    margin: 0 auto;
    display: flex;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 2px dashed #e9ba00;
    border-radius: 1.2vmin;
    box-sizing: border-box;
    font-size: 3.2vmin;
}

#dropZone:hover {
    background-color: #fff5cc;
}

#controls {
    margin-bottom: 0.6vmin;
}

#Difficulty {
    font-size: 24px;
}

#startButton {
    text-align: center;
    font-size: 7vmin;
    background-color: #58a8ea;
    color: whitesmoke;
    border-radius: 1.22vmin;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}

#startButton:hover {
    background-color: #ea6f6f;
    color: whitesmoke;
}

select {
    font-size: 7vmin;
    cursor: pointer;
    border: none;
    border-radius: 1vmin;
    outline: nones;
}

#time {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    display: none;
    /* 초기에는 오버레이를 숨김 */
    z-index: 10;
}

#overlay p {
    margin: 0 auto 20px;
    font-size: 32px;
}

#overlay button {
    margin: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#retry-button {
    font-size: 3.6vmin;
    background-color: #e57373;
    color: #ffffff;
}

#retry-button:hover {
    background-color: #d32f2f;
}

#other-game-button {
    font-size: 3.6vmin;
    background-color: #64b5f6;
    color: #ffffff;
}

#other-game-button:hover {
    background-color: #1976d2;
}

/* 모바일 대응 */
@media only screen and (max-width: 768px) {

    #body {
        width: 100%;
    }

    #langs {
        top: 5vmin;
        right: 6vmin;
    }

    #languageSelector {
        font-size: 4.2vmin;
    }

    #menuItems {
        width: 90vmin;
        box-sizing: border-box;
    }

    #controls {
        margin-bottom: 0;
    }

    #dropZone {
        font-size: 18px;
        padding: 24px 10px;
    }

    #Difficulty {
        font-size: 20px;
    }

    #startButton {
        padding: 3px 12px;
        left: 50%;
    }

    #overlay p {
        font-size: 22px;
    }

    #retry-button {
        font-size: 5vmin;
    }

    #other-game-button {
        font-size: 5vmin;
    }

}